<!doctype html>
<html>

<head>
</head>

<body>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">
<p style ="text-align:left;">http://atozee.co.uk, https://www.flickr.com/photos/dominicspics/albums/72157611114748625 - for Hangman Pictures.<br>   Made by dude named Dominic Alves, not changed at all.<br><br>   https://www.publicdomainpictures.net - for Intro pic<br><br>   http://www.manythings.org/vocabulary/lists/l/words.php?f=noll15 - for words list<br><br><p> <a href="/mainmenu" ">So, play already?<a> </p></p>
</body>

</html>

