<!doctype html>
<html>
<head>
</head>


<body>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/basic.css') }}">


<p style="text-align:left;">


This is the game Hangman. If you've never played the game, this is how it works:<br><br>

Click New Game: the game's afoot! The chosen word is cloaked in mystery, clued only by the length of the _'s for you to follow.<br><br>

You must start by guessing a letter. If it's in the word, any cases in the word where the letter is located, will reveal themselves.<br><br>

If the letter is not present, a progressively desparate hanged man will appear. 7 wrong tries and he's done for.<br><br>

If you guess all letters correctly, you win! And gain some bragging rights.<br><br>

Protip: Start with vowelss. You'll thank me.<br><br><br>
                                          

<pre style="text-align:center;"><a href="/mainmenu">So, ready to get your game on?<a></pre></p>

</body>



</html>